.body {
  background-color: #f4f2e5;
  font-family: sans-serif;
}
.container {
  border: 1px solid #aeb0b0;
  height: 150px;
  width: 100%;
  background-color: #f4f2e5;
  font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#img {
  margin-top: 10px;
  margin-left: 10px;
  height: 85px;
  width: 250px;
}
#item {
  height: 20%;
  width: 100%;
  font-size: 19px;

  text-align: right;
  font-weight: bold;
}
#item > img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.mainbox {
  display: grid;
  background-color: #f4f2e5;
  grid-template-columns: auto auto auto;
    grid-template-rows: 95%  95% 95%; 
   height: 600px;
    width: 1500px;
    grid-gap:20px;
 
}

#id1 {

  background-color: #f9f8f1;
 
  height: 80%;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  line-height: 14px;
  
}
#id2 {
  border: 3px solid teal;
  background-color: #f9f8f1;
  border: 1px solid #aeb0b0;
  height: 80%;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  line-height: 14px;
  
}
#h2 {
  background-color: #f4f2e5;
  font-size: 30px;
  font-weight: bold;
  
}
#insideid1 {
  background-color: #f9f8f1;
 
  height: 350px;
  width: 400px;
  padding: 50px;

  margin-top: 100px;
  margin: auto;

}
#shrinivas {
  background-color: #f9f8f1;
  border: 1px solid #aeb0b0;
  height: 80%;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  line-height: 14px;
  
}
#button {
  background-color: #f1e5ac;
  padding: 6px;
  cursor: pointer;
  font-size: 17px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  height: 40px;
  width: 250px;
  text-decoration-line: none;
  font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#button:hover {
  background-color: #ffd700;
}
#guestemail {
  background-color: #f4f2e5;

  height: 40px;
  width: 250px;
  font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* below code is for guest box  */
#buttonguestEmail {
  background-color: #f1e5ac;
  font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 6px;
  cursor: pointer;
  font-size: 17px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  height: 40px;
  width: 250px;
  text-decoration-line: none;
}
#buttonguestEmail:hover {
  background-color: #ffd700;
}
#email {
  background-color: #f4f2e5;

  height: 40px;
  width: 250px;
  line-height: 14px;
}

/* above code is for guest box  */

/* Sign in side box */
#RegisterUserPassword {
  background-color: #f4f2e5;

  height: 40px;
  width: 250px;
  line-height: 14px;
  font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#RegisterUserEmail {
  background-color: #f4f2e5;

  height: 40px;
  width: 250px;
  line-height: 14px;
  font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#singinButton {
  background-color: #f1e5ac;
  padding: 6px;
  cursor: pointer;
  font-size: 17px;
  cursor: pointer;
  border-radius: 5px;
  height: 40px;
  width: 250px;
  border: none;
  font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#singinButton:hover {
  background-color: #ffd700;
}
*/






  /* #button2{
    background-color:  #F1E5AC;
    padding: 6px;
    cursor: pointer;
    font-size: 17px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
   
  
  }
  #button2:hover{
    background-color:#FFD700;
  
  } */
  #joinnow {
  height: 40px;
  width: 250px;

  margin: auto;
  margin-top: 30px;
  padding: 10px;
  text-align: center;
  font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#joinbtn {
  background-color: #f1e5ac;
  padding: 6px;
  font-size: 17px;
  cursor: pointer;
  border: none;
  height: 40px;
  width: 250px;
  border-radius: 5px;
  border: none;
  font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#joinbtn:hover {
  background-color: #ffd700;
  font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
  color: black;
  font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
