body {
  background-color: #f4f2e5;
  font-family: sans-serif;
}

.sym {
  float: right;
  margin-right: 70px;
  color: grey;
}
a:hover {
  /* background-color: burlywood; */
  font-size: 22px;
  font-weight: 900;
}
.container {
  display: flex;
  border-bottom: 1px solid #aeb0b0;
  height: 80px;
  width: 98%;
  background-color: #f4f2e5;

  padding: 10px;
  flex-direction: row;
}
#img {
  margin-left: 10px;

  width: 150px;
}
#item {
  height: 20%;
  width: 100%;
  font-size: 12px;
  margin: auto;

  text-align: right;
  font-weight: bold;

  color: maroon;
}
a {
  text-decoration: none;
  color: maroon;
  margin-top: 15px;
}

#item > a > img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
.h2 {
  background-color: #f4f2e5;
  font-size: 23px;
  font-weight: bold;
  margin-left: 15px;
  color: #80021d;
}
.line1 {
  width: 1000px;
  height: 2px;
}
/* above css code are common for my every three page like sign up , signin page checin page join page and final payment checkout page */

#container1 {
  border-right: 1px solid #aeb0b0;
  border-bottom: 1px solid #aeb0b0;
  border-left: 1px solid #aeb0b0;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;

  height: 650px;
  width: 1000px;
  margin: auto;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}
#box1 {
  background-color: #f9f8f1;
  border: 1px solid transparent;

  height: 400px;
  width: 350px;
  padding: 25px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* box2 right hand sid */

#box2 {
  border: 1px solid transparent;
  background-color: #f9f8f1;
  margin-top: 10px;
  height: 450px;
  width: 390px;
  padding: 30px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#paymentbutton {
  background-color: #f1e5ac;
  padding: 6px;
  cursor: pointer;
  font-size: 17px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  height: 40px;
  width: 350px;
}
#paymentbutton:hover {
  background-color: #e5cc76;
  font-weight: bold;
}

.text1 {
  color: rgb(84, 80, 80);
  font-family: "Unna", serif;
  text-decoration: none;

  font-weight: bold;
}
#cardnumber {
  background-color: #f4f2e5;

  height: 30px;
  width: 250px;
  line-height: 14px;
}
#cardholdername {
  background-color: #f4f2e5;

  height: 30px;
  width: 250px;
  line-height: 14px;
}
#monthselect {
  background-color: #f4f2e5;
  width: 70px;
}
#yearsselect {
  background-color: #f4f2e5;
  width: 70px;
}
#cvv1 {
  background-color: #f4f2e5;
  width: 70px;
}
label {
  color: rgb(84, 80, 80);

  font-weight: bold;
}
h2 {
  font-size: 30px;
  color: #80021d;
}
input {
  padding: 5px;
  border: 1px solid lightgray;
}
select {
  color: rgb(84, 80, 80);

  border: 1px solid lightgray;
}

.h6 {
  text-align: justify;
  word-wrap: normal;
  font-size: 8px;
  margin-top: 45px;
}
.showAmount {
  font-weight: bold;
  font-size: 22px;
  color: rgb(53, 52, 52);
}
.my {
  height: 28px;
  border-radius: 3px;
  margin-top: 8px;
}
#cvv1,
#cardholdername,
#cardnumber {
  border-radius: 3px;
  margin-top: 8px;
}
.blackBox {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.modalBox {
  background-image:url('../Srinivas/Images/47.jpg');
  background-size: contain;
 
  width: 40vw;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: rgb(218, 207, 113);
  z-index: 3;
  /* left: 20%; */
  top: 18%;
  position: fixed;
  margin-left: 30%;
  /* margin-top: -10px; */
  border-radius: 20px;
  color: black;
  padding-top: 20px;
}
.modalBox > div {
  text-align: center;
  color: white;
  margin-bottom: 10px;
  font-size: large;
  font-weight: 600;
}

#finalbtn {
  margin-top: 40px;
  background-color: rgb(253, 211, 100);
  border-radius: 10px;
  margin-right: 10%;
  width: 150px;
  height: 30px;
  font-size: 15px;
}
#finalbtn:hover {
  font-weight: bold;
}
#first {
  font-size: 26px;
}
